<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.sandeep.RESTFW.Testcases.BestBuyProduct</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createProductWithBlankUpc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProductwithZeroPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProductwithAllNullVal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProductwithBlankname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProductwithDecimalPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProductwithNullname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProductwithNegativePrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProductWithNullUpc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProductPositiveFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
