<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee68d8">  <td>20/09/06 23:00:07</td>   <td>0</td> <td title="&gt;&gt;TestSetup.setUp()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@40ef3420]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/06 23:00:07</td>   <td>297</td> <td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@40ef3420]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/06 23:00:07</td>   <td>297</td> <td>&nbsp;</td><td title="&gt;&gt;BestBuyProduct.seturl()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@40ef3420]">&gt;&gt;seturl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/06 23:00:07</td>   <td>732</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@40ef3420]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/06 23:00:07</td>   <td>741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@40ef3420]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/06 23:00:07</td>   <td>742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithAllNullVal()[pri:9, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@40ef3420]">createProductwithAllNullVal</td> 
  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/06 23:00:10</td>   <td>3614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@40ef3420]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/06 23:00:11</td>   <td>4142</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@40ef3420]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/06 23:00:11</td>   <td>4143</td> <td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@40ef3420]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/06 23:00:11</td>   <td>4198</td> <td title="&lt;&lt;TestSetup.tearDown()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@40ef3420]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@166794956</td>   <td></td> </tr>
</table>
