<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Sanity</td><td>CreateCustomer.createCustomerFlow()[pri:1, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]<br/>CreateCustomer.RetriveCustomerWithValidCustid()[pri:4, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]<br/></td></tr>
</table>
