<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:02</td>   <td>0</td> <td title="&gt;&gt;TestSetup.setUp()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:03</td>   <td>283</td> <td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:03</td>   <td>291</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:03</td>   <td>304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:03</td>   <td>305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.createCustomerFlow()[pri:1, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">createCustomerFlow</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:07</td>   <td>4629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:07</td>   <td>5061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:07</td>   <td>5061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.createCustomerFlowWithInvalidKey()[pri:2, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">createCustomerFlowWithInvalidKey</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:08</td>   <td>5532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:08</td>   <td>5590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:08</td>   <td>5590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.createCustomerFlowWithNullDesc()[pri:3, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">createCustomerFlowWithNullDesc</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:09</td>   <td>6344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:09</td>   <td>6473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:09</td>   <td>6473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.RetriveCustomerWithValidCustid()[pri:4, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">RetriveCustomerWithValidCustid</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:10</td>   <td>7215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:10</td>   <td>7294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:10</td>   <td>7294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.RetriveCustomerWithInValidCustid()[pri:5, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">RetriveCustomerWithInValidCustid</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:10</td>   <td>7953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:10</td>   <td>8066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:10</td>   <td>8066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.RetriveCustomerWithNullCustid()[pri:6, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">RetriveCustomerWithNullCustid</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:10</td>   <td>8099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>8174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:11</td>   <td>8174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.RetriveCustomerBlankCustid()[pri:7, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">RetriveCustomerBlankCustid</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>8848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>8988</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>8989</td> <td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>9025</td> <td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:11</td>   <td>9026</td> <td>&nbsp;</td><td title="&gt;&gt;BestBuyProduct.seturl()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;seturl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>9030</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>9031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:11</td>   <td>9032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductPositiveFlow()[pri:1, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductPositiveFlow</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:12</td>   <td>9551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:12</td>   <td>9636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:12</td>   <td>9637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithNullname()[pri:2, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductwithNullname</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:12</td>   <td>9939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:12</td>   <td>10012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:12</td>   <td>10012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithBlankname()[pri:3, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductwithBlankname</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>10207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>10258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:13</td>   <td>10258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductWithNullUpc()[pri:4, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductWithNullUpc</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>10465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>10529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:13</td>   <td>10529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductWithBlankUpc()[pri:5, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductWithBlankUpc</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>10765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>10812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:13</td>   <td>10812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithDecimalPrice()[pri:6, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductwithDecimalPrice</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>11020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>11082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:13</td>   <td>11083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithZeroPrice()[pri:7, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductwithZeroPrice</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>11344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>11384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:14</td>   <td>11384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithNegativePrice()[pri:8, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductwithNegativePrice</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>11597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>11650</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>11651</td> <td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>11660</td> <td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>11662</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>11663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="b8b48f">  <td>20/09/01 22:07:14</td>   <td>11663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DbValidations.dbValidationforPersonCity()[pri:1, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">dbValidationforPersonCity</td> 
  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>11970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:15</td>   <td>12144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="b8b48f">  <td>20/09/01 22:07:15</td>   <td>12144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DbValidations.dbValidationforEmployees()[pri:2, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">dbValidationforEmployees</td> 
  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:15</td>   <td>12223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:15</td>   <td>12262</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:15</td>   <td>12263</td> <td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:15</td>   <td>12267</td> <td title="&lt;&lt;TestSetup.tearDown()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
</table>
