<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.RetriveCustomerBlankCustid()[pri:7, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">RetriveCustomerBlankCustid</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:10</td>   <td>-880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.RetriveCustomerWithInValidCustid()[pri:5, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">RetriveCustomerWithInValidCustid</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:10</td>   <td>-108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.RetriveCustomerWithNullCustid()[pri:6, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">RetriveCustomerWithNullCustid</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:09</td>   <td>-1701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.RetriveCustomerWithValidCustid()[pri:4, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">RetriveCustomerWithValidCustid</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>814</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>3476</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:15</td>   <td>4088</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:07</td>   <td>-3545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:08</td>   <td>-2642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:09</td>   <td>-1830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:10</td>   <td>-959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:10</td>   <td>-221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:10</td>   <td>-75</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:12</td>   <td>1377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:12</td>   <td>1765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>2033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>2291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>2591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>2846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>3170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>3423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>3796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:15</td>   <td>4049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterMethod(org.testng.ITestResult)[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>815</td> <td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>3477</td> <td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:15</td>   <td>4089</td> <td>&nbsp;</td><td title="&lt;&lt;TestSetup.afterTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:03</td>   <td>-7883</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>856</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>3488</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeClass()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:03</td>   <td>-7870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:07</td>   <td>-3113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:08</td>   <td>-2584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:09</td>   <td>-1701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:10</td>   <td>-880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:10</td>   <td>-108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:12</td>   <td>1462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:12</td>   <td>1838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>2084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>2355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>2638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:13</td>   <td>2908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>3210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>3489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:15</td>   <td>3970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:03</td>   <td>-7891</td> <td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:11</td>   <td>851</td> <td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:14</td>   <td>3486</td> <td>&nbsp;</td><td title="&gt;&gt;TestSetup.beforeTest()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:03</td>   <td>-7869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.createCustomerFlow()[pri:1, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">createCustomerFlow</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:07</td>   <td>-3113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.createCustomerFlowWithInvalidKey()[pri:2, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">createCustomerFlowWithInvalidKey</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/09/01 22:07:08</td>   <td>-2584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.createCustomerFlowWithNullDesc()[pri:3, instance:com.sandeep.RESTFW.Testcases.CreateCustomer@479d31f3]">createCustomerFlowWithNullDesc</td> 
  <td>TestNG-test=Test1-1@1430032843</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:11</td>   <td>858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductPositiveFlow()[pri:1, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductPositiveFlow</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:13</td>   <td>2355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductWithBlankUpc()[pri:5, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductWithBlankUpc</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:13</td>   <td>2084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductWithNullUpc()[pri:4, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductWithNullUpc</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:12</td>   <td>1838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithBlankname()[pri:3, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductwithBlankname</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:13</td>   <td>2638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithDecimalPrice()[pri:6, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductwithDecimalPrice</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:14</td>   <td>3210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithNegativePrice()[pri:8, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductwithNegativePrice</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:12</td>   <td>1463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithNullname()[pri:2, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductwithNullname</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:13</td>   <td>2909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BestBuyProduct.createProductwithZeroPrice()[pri:7, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">createProductwithZeroPrice</td> 
  <td>TestNG-test=Test2-1@1114976085</td>   <td></td> </tr>
<tr bgcolor="b8b48f">  <td>20/09/01 22:07:15</td>   <td>3970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DbValidations.dbValidationforEmployees()[pri:2, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">dbValidationforEmployees</td> 
  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="b8b48f">  <td>20/09/01 22:07:14</td>   <td>3489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DbValidations.dbValidationforPersonCity()[pri:1, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">dbValidationforPersonCity</td> 
  <td>TestNG-test=Test3-1@40056683</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:02</td>   <td>-8174</td> <td title="&gt;&gt;TestSetup.setUp()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="e58363">  <td>20/09/01 22:07:11</td>   <td>852</td> <td>&nbsp;</td><td title="&gt;&gt;BestBuyProduct.seturl()[pri:0, instance:com.sandeep.RESTFW.Testcases.BestBuyProduct@515aebb0]">&gt;&gt;seturl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/09/01 22:07:15</td>   <td>4093</td> <td title="&lt;&lt;TestSetup.tearDown()[pri:0, instance:com.sandeep.RESTFW.Testcases.DbValidations@1b7cc17c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341796579</td>   <td></td> </tr>
</table>
